<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div id = 'main-div'>
            <h1><%=data.name%></h1>
            <img src="<%= data.img %>" alt="">
            <button onclick="hideShow()">Edit</button>
        </div>
        <form action="/yelp/<%=data.id%>?_method=PUT" method="POST"  hidden id = 'form-div'>
            <label for="name">
                name
                <input type="text" value="<%= data.name%>" name = "name">
            </label>
            <label for="image_url">
                img
                <input value="<%= data.img%>" name = 'img'>
            </label>
            <input type="submit" value="Submit">
        </form>
        <form action="/yelp/<%=data.id%>?_method=delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>